:root {
  --color-primary: #c88691;
  --color-white: #fff;
  --color-light-grey: #cbc4bc;
  --color-dark-grey: #837865;
  --color-black: #2c0e1d;

  --font-primary: "Lato", sans-serif;
  --font-secondary: "Lust Display", serif;
}

html {
  color: var(--color-black);
  font-family: var(--font-primary);
  overflow-x: hidden;
}

p {
  color: var(--color-black);
}

h1 {
  font-weight: 300;
}

h3 {
  color: var(--color-primary);
}

/* Add parallax to the banner image */

.parallax {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax-group {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  position: relative;
  top: calc(((100vh - 50.10vw) / 4) * -2);
}

.front {
  position: relative;
  z-index: 10;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.top-nav {
  background-color: var(--color-white);

  -webkit-box-shadow: 0px 10px 30px -6px rgba(44,14,29,0.63);
  -moz-box-shadow: 0px 10px 30px -6px rgba(44,14,29,0.63);
  box-shadow: 0px 10px 30px -6px rgba(44,14,29,0.63);
}

a {
  color: var(--color-black);
  text-decoration: none;
}

.nav-list a {
  filter: blur(.6px);
  transition: all .25s linear;
}

a.current {
  color: var(--color-primary);
  filter: blur(0);
}

a:hover {
  color: var(--color-primary);
  filter: blur(0);
}

.logo svg {
  fill: var(--color-black);
  filter: blur(0);
  position: relative !important;
  transition: all .25s linear;
}

.logo:hover svg {
  fill: var(--color-primary);
}

.work {
  font-weight: 600;
}

.banner-square {
  background-color: var(--color-primary);
}

#triangle-banner {
  height: 1% !important;
}

.banner-hidden {
  display: none;
}

.banner-whole {
  margin-top: -3rem;
  text-align: center;
}

.banner-text {
  color: var(--color-white);
  font-family: "Bebas", sans-serif;
  display: inline-block;
}

.banner-work {
  line-height: .5em;
  display: inline-block;
}

.work-r {
  margin-right: 1rem;
}

.banner-work span,
.banner-work div {
  color: var(--color-white);
}

.banner-sub {
  font-weight: 300;
}

.side-bar {
  display: none;
  color: var(--color-white);
  letter-spacing: 5px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  top: 50%;
  left: .5rem;
}

/* Hover box */

.box-fade {
  background-color: rgba(0, 0, 0, .5);
  transition: all .4s linear;
}

.hover-box:hover .box-fade {
  background-color: rgba(0, 0, 0, .4);
  min-height: 85%;
  width: 85%;
}

.hover-box-img {
  background-color: rgba(255, 255, 255, .5);
  transition: all .3s linear;
}

.hover-box:hover .hover-box-img {
  transform: scale(1.05);
}

.hover-box-caption {
  bottom: 8em;
  color: var(--color-white);
  opacity: 0;
  z-index: 1001;
  transition: all .4s ease-in;
}

.hover-box-caption p {
  color: var(--color-white);
}

.hover-box:hover .hover-box-caption {
  bottom: 2em;
  opacity: 1;
}

.hover-box-title {
  font-weight: 300;
  text-transform: uppercase;
}

.hover-box-section {
  margin: 0;
  background-color: var(--color-white);
}

.about-section {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.about-section h3 {
  color: var(--color-white);
}

.selfie {
  -webkit-clip-path: circle(33% at 50% 50%);
  clip-path: circle(33% at 50% 50%);
  max-width: 60%;
}

a.email-link {
  color: var(--color-white);
  background-image: linear-gradient(120deg, var(--color-black) 0%, var(--color-black) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 90%;
  transition: all 0.25s ease-in;
}

a.email-link:hover {
  color: var(--color-primary);
  background-size: 100% 88%;
}

a.email-link.footer-link {
  color: var(--color-black);
  background-image: linear-gradient(120deg, var(--color-primary) 0%, var(--color-primary) 100%);
}

a.email-link.footer-link:hover {
  color: var(--color-white)
}

.social-icons, small {
  text-align: left;
}

footer {
  color: var(--color-dark-grey);
  background-color: var(--color-white);
}

small {
  color: var(--color-dark-grey);
}

.social svg {
  fill: var(--color-dark-grey);
  position: relative !important;
  transition: all .25s linear;
}

.social:hover svg {
  fill: var(--color-primary);

}

/* Case Study Page */

.portfolio-info {
  color: var(--color-dark-grey);
  background-color: white;
}

.text-scroll::-webkit-scrollbar {
  display: none;
}

.concept-section {
  background-color: #eee;
}

.sketch {
  mix-blend-mode: multiply;
}

.hidden {
  visibility: hidden;
}

.logo-sticky {
  text-align: center;
}

.portfolio-nav-links {
  font-weight: 300;
  text-transform: uppercase;
}


@media only screen and (min-width: 38em) {

  small {
    text-align: left;
  }

  .social-icons {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .banner-whole {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-square {
    background-color: rgba(198, 133, 143, .8);
    position: relative;
    height: 15rem;
    width: 15rem;
  }

  .banner-work-text {
    margin-right: -3rem;
    margin-top: -6rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .banner-text {
    bottom: 0;
    position: absolute;
    left: 0;
  }

  .selfie {
    max-width: 100%;
  }

  .logo-sticky {
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 13em;

    margin-left: 0;
    margin-right: 0;

    z-index: 1000;
 }

  .mockup-section {
   height: 100vh;
   overflow: hidden;
   position: sticky;
   top: 0;

   z-index: -1;
  }

  .design {
   background-color: var(--color-white);
  }

  .design-section {
   margin-top: -100vh;
  }

  .image-section {
   background-color: var(--color-white);
  }

}
