:root {
  --color-primary: #c88691;
  --color-white: #ffffff;
  --color-light-grey: #cbc4bc;
  --color-dark-grey: #837865;
  --color-black: #2c0e1d;

  --font-primary: "lato", sans-serif;
}

html {
  color: var(--color-black);
  font-family: var(--font-primary);
  overflow-x: hidden;
}

.skip-links {
  color: var(--color-white);
}

.skip-links:hover {
  color: var(--color-white);
}

body {
  overflow-x: hidden;
}

p {
  color: var(--color-black);
}

h1 {
  font-weight: 600;
}

h1 {
  font-weight: 400;
}

h3 {
  color: var(--color-primary);
  font-weight: 400;
}

main {
  margin-top: 2rem;
}

.top-nav {
  background-color: var(--color-white);

  -webkit-box-shadow: 0px 10px 30px -6px rgba(44,14,29,0.63);
  -moz-box-shadow: 0px 10px 30px -6px rgba(44,14,29,0.63);
  box-shadow: 0px 10px 30px -6px rgba(44,14,29,0.63);
  z-index: 1000;
}

a {
  color: var(--color-primary);
  border-top: solid 0px;
  padding-top: 0;
  text-decoration: none;
  margin-top: 0;

  transition: color .25s linear;
}

a:hover,
a.current,
a:focus {
  color: var(--color-black);
}

.blur:hover li a,
.blur:focus li a {
	filter: blur(1.2px);
  transition: color .25s linear;
}

.blur li a:hover,
.blur li a:focus {
	filter: blur(0px);
}

.logo {
  transition: all .25s linear;
}

.logo svg {
  fill: var(--color-primary);
  filter: blur(0px);
  position: relative !important;
  transition: all .25s linear;
}

.logo:hover svg {
  fill: var(--color-black);
}

.work {
  font-weight: 600;
}

.banner-square {
  background-color: var(--color-primary);
  z-index: 2500;
}

#triangle-banner-2 {
  background-color: var(--color-black);
  width: 111%;
}

.banner-hidden {
  display: none;
}

.banner-whole {
  margin-top: -5rem;
  text-align: left;
}

.banner-whole p {
  color: var(--color-white);
}

.banner-text {
  color: var(--color-white);
  display: inline-block;
  font-family: "Bebas", sans-serif;
}

.banner-work {
  line-height: .5em;
  margin-top: -1.25rem;

  position: absolute;
  top: 0;
  right: 0;
}

.work-r {
  margin-right: 1rem;
}

.banner-work span,
.banner-work div {
  color: var(--color-white);
}

.banner-sub {
  font-weight: 300;
}

.front {
  position: relative;
  z-index: 1000;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax-group {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* Hover box */

.box-fade {
  background-color: rgba(0, 0, 0, .4);
  min-height: 85%;
  width: 85%;
  transition: all .4s linear;
}

.hover-box-img {
  background-color: rgba(255, 255, 255, .5);
  transition: all .3s linear;
}

.hover-box-caption {
  color: var(--color-white);
  opacity: 1;
  z-index: 1001;
  transition: all .4s ease-in;
}

.hover-box-caption p {
  color: var(--color-white);
}

.hover-box-text-wrapper {
  min-height: 85%;
  width: 85%;
}

.hover-box-title {
  font-weight: 300;
  text-transform: uppercase;
}

.hover-box-section {
  margin: 0;
  background-color: var(--color-white);
}

.about-section {
  color: var(--color-white);
  background-color: #eee;
}

.selfie {
  -webkit-clip-path: circle(33% at 50% 50%);
  clip-path: circle(33% at 50% 50%);
  max-width: 60%;
}

a.email-link {
  color: var(--color-black);
  background-image: linear-gradient(120deg, var(--color-primary) 0%, var(--color-primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 90%;
  transition: all 0.25s ease-in;
}

a.email-link:hover,
a.email-link:focus {
  color: var(--color-white);
  background-size: 100% 88%;
}

.social-icons, small {
  text-align: left;
}

footer {
  color: var(--color-dark-grey);
  background-color: var(--color-white);
}

.address {
  color: var(--color-light-grey) !important;
}

.social svg {
  fill: var(--color-light-grey);
  position: relative !important;
  transition: all .25s linear;
}

.social:hover svg,
.social:focus svg {
  fill: var(--color-primary);
}

/* Case Study Page */

.portfolio-info {
  color: var(--color-primary);
  background-color: white;
}

.text-scroll::-webkit-scrollbar {
  display: none;
}

.concept-section {
  background-color: #eee;
}

.design-section {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

.mockup-animate {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1s linear;
}

.js-mockup-animate {
  transform: translate(0, 0);
  opacity: 1;
}

.sketch {
  mix-blend-mode: multiply;
}

.hidden {
  visibility: hidden;
}

.logo-sticky {
  text-align: center;
}

.portfolio-nav-links {
  background-color: var(--color-white) !important;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-ghost {
  color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: .5rem;
  transition: all .3s linear;
}

.btn-ghost:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-section {
  background-color: var(--color-white);
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

iframe {
  border: none;
}

.video iframe {
  background-color: var(--color-white);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.not-found {
  color: var(--color-primary);
}

.not-found-sub {
  color: var(--color-dark-grey);
}

.not-found-section {
  background-color: var(--color-white);
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  animation-name: flipInX;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  animation-duration: .75s;
}

.morphext > .animated {
    display: inline-block;
}

@media only screen and (min-width: 38em) {

  small {
    text-align: left;
  }

  .social-icons {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  /* Add parallax to the banner image */

  .back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    position: relative;
    overflow-x: hidden;
    top: calc(((100vh - 50.10vw) / 4) * -2);
  }

  .banner-wrapper {
    margin-top: -2rem;
  }

  .banner-whole {
    margin-top: 0;
    text-align: left;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .banner-square {
    background-color: rgba(198, 133, 143, .8);
    position: relative;
    height: 15rem;
    width: 15rem;
  }

  .banner-work-text {
    margin-right: -3rem;
    margin-top: -6rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
  }

  .banner-text {
    bottom: 0;
    position: absolute;
    left: 0;
}

  .banner-work {
    display: inline-block;
  }

  main {
    margin-top: -4rem;
  }

  .box-fade {
    background-color: rgba(0, 0, 0, .6);
    min-height: 100%;
    width: 100%;
  }

  .hover-box:hover .box-fade,
  .hover-box:focus .box-fade {
    background-color: rgba(0, 0, 0, .4);
    min-height: 85%;
    width: 85%;
  }

  .hover-box:hover .hover-box-img,
  .hover-box:focus .hover-box-img {
    transform: scale(1.05);
  }

  .hover-box-caption {
    bottom: -3em;
    opacity: 0;
  }

  .hover-box:hover .hover-box-caption,
  .hover-box:focus .hover-box-caption {
    bottom: 0;
    opacity: 1;
  }

  .selfie {
    max-width: 100%;
  }

  .mockup-section {
   height: 100vh;
   overflow: hidden;
   position: sticky;
   top: 0;

   z-index: -1;
  }

  .design {
   background-color: var(--color-white);
  }

  .design-section {
   margin-top: -100vh;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   width: 100%;
  }

  .image-section {
   background-color: var(--color-white);
  }

}

@media only screen and (min-width: 75em) {

  .logo-sticky {
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 13em;

    margin-left: 0;
    margin-right: 0;

    z-index: 1000;
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}
