:root {
  --color-primary: #c6858f;
  --color-white: #fff;
  --color-light-grey: #cbc4bc;
  --color-dark-grey: #837865;
  --color-black: #2c0e1d;

  --font-primary: "Lato", sans-serif;
}

html {
  color: var(--color-black);
  font-family: var(--font-primary);
  overflow-x: hidden;
}

p {
  color: var(--color-black);
}

/* Add parallax to the banner image */

body .parallax {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 1px;
  perspective: 1px;
  position: relative;
}

.parallax-group {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  position: relative;
  top: calc(((100vh - 50.10vw) / 4) * -2);
}

.front {
  position: relative;
  z-index: 2;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.top-nav {
  background-color: var(--color-white);
}

a {
  color: var(--color-light-grey);
  text-decoration: none;
}

.nav-list a {
  filter: blur(.7px);
  transition: all .25s linear;
}

a.current {
  color: var(--color-primary);
  filter: blur(0);
}

a:hover {
  color: var(--color-primary);
  filter: blur(0);
}

.logo {
  filter: blur(0);
  transition: all .25s linear;
}

.logo:hover svg {
  fill: var(--color-primary);
}

h1 {
  font-weight: 300;
}

h3 {
  color: var(--color-primary);
}

.banner-text {
  color: var(--color-white);
  z-index: 1000;
}

.side-bar {
  display: none;
  color: var(--color-white);
  letter-spacing: 5px;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  top: 50%;
  left: .5rem;
}

/* Hover box */

.box-fade {
  background-color: rgba(255, 255, 255, 0);
  transition: all .4s linear;
}

.hover-box:hover .box-fade {
  background-color: rgba(255, 255, 255, .8);
  min-height: 85%;
  width: 85%;
}

.hover-box-img {
  transition: all .3s linear;
}

.hover-box:hover .hover-box-img {
  transform: scale(1.05);
}

.hover-box-caption {
  bottom: 8em;
  color: var(--color-black);
  opacity: 0;
  z-index: 1001;
  transition: all .4s ease-in;
}

.hover-box:hover .hover-box-caption {
  bottom: 2em;
  opacity: 1;
}

.hover-box-title {
  font-weight: 300;
  text-transform: uppercase;
}

.hover-box-section {
  margin: 0;
  background-color: var(--color-white);
}

.about-section {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.selfie {
  max-width: 60%;
}

a.email-link {
  color: var(--color-white);
  background-image: linear-gradient(120deg, var(--color-black) 0%, var(--color-black) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 90%;
  transition: all 0.25s ease-in;
}

a.email-link:hover {
  color: var(--color-primary);
  background-size: 100% 88%;
}

a.email-link.footer-link {
  color: var(--color-black);
  background-image: linear-gradient(120deg, var(--color-primary) 0%, var(--color-primary) 100%);
}

a.email-link.footer-link:hover {
  color: var(--color-white)
}

.social-icons, small {
  text-align: left;
}

footer {
  color: var(--color-dark-grey);
  background-color: var(--color-white);
}

small {
  color: var(--color-dark-grey);
}

.social svg {
  fill: var(--color-dark-grey);
}

.social svg:hover {
  fill: var(--color-primary);
}

/* Case Study Page */

.portfolio-info {
  color: var(--color-dark-grey);
  background-color: white;
}

.text-scroll::-webkit-scrollbar {
  display: none;
}

.concept-section {
  background-color: var(--color-light-grey);
}

.sketch {
  mix-blend-mode: multiply;
}

.hidden {
  visibility: hidden;
}

.logo-sticky {
  width: 100%;
  max-width: 36em;

  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 38em) {

  small {
    text-align: left;
  }

  .social-icons {
    text-align: right;
  }

  .design-section {
    height: 100vh;
  }

  .text-scroll {
    position: absolute;
    overflow: auto;
    height: 80vh;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (min-width: 60em) {

  .selfie {
    max-width: 100%;
  }

}

@media only screen and (min-width: 90em) {

  .logo-sticky {
   position: sticky;
   top: 0;
   left: 0;

   width: 100%;
   max-width: 13em;

   margin-left: 0;
   margin-right: 0;
 }

}
