<div class="unit xs-1 s-1 m-1-2 l-1-3 island-1-2">
  <a class="hover-box block relative crop" href="{{site.baseurl}}{{include.link}}">
    <div class="embed embed-1by1">
      <div class="embed-item zindex-1000 box-fade absolute pin-center"></div>
      <div class="embed-item zindex-1000 absolute pin-center hover-box-text-wrapper">
        <div class="hover-box-caption absolute pin-bottom-left gutter-1-2 pad-b">
          <h2 class="tera hover-box-title push-1-2">{{include.title}}</h2>
          <p class="push-0">{{include.caption}}</p>
        </div>
      </div>
      <img class="embed-item hover-box-img" src="{{include.file}}" alt="{{include.alt}}">
    </div>
  </a>
</div>
