<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Kayla Obritsch Portfolio</title>
  <meta name="description" content="{{page.meta}}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#c6858f">
  <meta name="msapplication-navbutton-color" content="#c6858f">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicon-16x16.png">
  <link rel="manifest" href="{{site.baseurl}}/manifest.json">
  <link rel="mask-icon" href="{{site.baseurl}}/safari-pinned-tab.svg" color="#bd888f">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="https://use.typekit.net/xiu0upk.css">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
</head>

<body itemref="data-author" itemscope itemtype="http://schema.org/WebPage">

<div class="parallax parallax-group">
  <header role="banner">
    <nav class="front top-nav push-0 gutter" id="nav" role="navigation">
      <div class="grid grid-middle wrapper push-0">
        <div class="text-left unit xs-1-4">
          <i class="logo icon i-96">
            <a itemprop="url" href="{{site.baseurl}}/">
              <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#kayla-obritsch-logo"></use></svg>
            </a>
          </i>
        </div>
        <div class="text-right unit xs-3-4">
          <ul class="blur nav nav-list list-group-inline push-0">
            <li><a itemprop="url" class="milli pad-t-0" href="{{site.baseurl}}/#portfolio" {% if page.url == '/#portfolio' %} class="current" {% endif %}>Work</a></li>
            <li class="gutter"><a itemprop="url" class="milli pad-t-0" href="{{site.baseurl}}/#about" {% if page.url == '/#about' %} class="current" {% endif %}>About</a></li>
            <li><a itemprop="url" href="mailto:design@kaylaobritsch.ca" class="milli pad-t-0">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

    {{content}}

    <footer id="data-author" itemprop="author" itemscope itemtype="https://schema.org/Person" class="front grid grid-middle">
      <div class="wrapper gutter">
        <div class="pad-t pad-b unit xs-1 s-1 m-1-2 l-1-2">
          <p role="contentinfo" class="micro">© <span itemprop="name">Kayla Obritsch</span> 2017</p>
          <a class="email-link footer-link milli" itemprop="email" href="mailto:design@kaylaobritsch.ca">design@kaylaobritsch.ca</a>
          <p class="address micro" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            <span itemprop="addressLocality">Ottawa,</span>
            <span itemprop="addressRegion">Ontario,</span>
            <span itemprop="addressCountry">Canada</span>
          </p>
        </div>
        <div class="pad-t pad-b unit xs-1 s-1 m-1-2 l-1-2 social-icons">
          <div class="inline-block">
            <i class="social-icon i-32 icon inline-block">
              <a itemprop="url" class="social" href="https://behance.net/KaylaRoseO">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#behance-logo"></use></svg>
              </a>
            </i>
          </div>
          <div class="gutter inline-block">
            <i class="social-icon i-64 icon inline-block">
              <a itemprop="url" class="social" href="https://github.com/kaylaobritsch">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#github-logo"></use></svg>
              </a>
            </i>
          </div>
          <div class="inline-block">
            <i class="social-icon i-64 icon inline-block">
              <a itemprop="url" class="social" href="https://vimeo.com/user57210739">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#vimeo-logo"></use></svg>
              </a>
            </i>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{site.baseurl}}/js/morphext.min.js"></script>
  <script src="{{site.baseurl}}/js/main.js"></script>

</body>

</html>
