---
layout: banner
title: {{page.title}}
meta: {{page.meta}}

skip-link-1: #design
skip-link-2: #footer
skip-link-title-1: Jump to Design
skip-link-title-2: Jump to Concept

banner-image: {{page.banner-image}}
banner-header: {{page.banner-header}}
---

<section class="front portfolio-info" itemref="data-author" itemscope itemtype="https://schema.org/CreativeWork">
  <div class="logo-sticky island {{page.logo-hidden}}">
    <i class="icon i-96">
      <img itemprop="image" class="img-flex" src="{{site.baseurl}}{{page.logo}}" alt="{{page.logo}}">
    </i>
  </div>

  <section class="intro-section max-length gutter pad-t pad-b-2">
    <p>{{page.opening-text}}</p>
  </section>

  <section class="concept-section" id="concept">
    <div class="max-length gutter pad-t pad-b-2">
      <h2 class="push-1-4">Concept</h2>
      <p>{{page.process}}</p>
      <p class="mega">{{page.concept}}</p>
      <img itemprop="image" class="img-flex pad-b-2 {{page.sketch-blend}}" src="{{site.baseurl}}{{page.sketch}}" alt="{{page.sketch-alt}}">
    </div>
  </section>

  <section class="relative wrapper">
    <div class="mockup-section design-waypoint grid grid-middle wrapper gutter pad-t pad-b-2">
      <img itemprop="image" class="mockup-animate unit xs-1 s-1 m-1 l-1-2 img-flex" src="{{site.baseurl}}{{page.mockup}}" alt="{{page.mockup-alt}}">
    </div>

    <section class="design-section grid grid-middle pad-t" id="design">
      <div class="unit xs-1 s-1 m-1 l-1-2"></div>
      <div class="unit xs-1 s-1 m-1 l-1-2 design gutter">
        <h2 class="push-1-4">Visual Design</h2>
        <div class="{{page.icon-hidden}}">
          <h3 class="giga push-1-4">{{page.icon-title}}</h3>
          <p>{{page.icon-design}}</p>
          <img itemprop="image" class="img-flex pad-b-2" src="{{site.baseurl}}{{page.icon-image}}" alt="{{page.icon-image-alt}}">
        </div>

        <h3 class="giga push-1-4">Typography</h3>
        <p>{{page.type-design}}</p>
        <p class="push-1-2 mega">{{page.type-font}}</p>
        <img itemprop="image" class="img-flex pad-b-2" src="{{site.baseurl}}{{page.type-image}}" alt="{{page.icon-type-alt}}">

        <div>
          <h3 class="giga push-1-4">Colours</h3>
          <p>{{page.colour-design}}</p>

          <div class="grid grid-middle">
            <div class="unit xs-1 s-1 m-1 l-1">
              <p class="push-0 mega">{{page.colour-type}}</p>
            </div>

            <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
              <div class="grid grid-middle">
                <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
                  <svg height="100" width="100">
                    <circle cx="50" cy="50" r="30" fill="{{page.fill-1}}" />
                  </svg>
                </div>
                <p class="unit xs-1-2 s-1-2 m-1-2 l-1-2 push-0 inline micro">{{page.colour-value-1}}</p>
              </div>
            </div>

            <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
              <div class="grid grid-middle">
                <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
                  <svg height="100" width="100">
                    <circle cx="50" cy="50" r="30" fill="{{page.fill-2}}" />
                  </svg>
                </div>
                <p class="unit xs-1-2 s-1-2 m-1-2 l-1-2 push-0 inline micro">{{page.colour-value-2}}</p>
              </div>
            </div>

            <div class="unit xs-1 s-1-2 m-1-2 l-1-2 {{page.hidden}}">
              <div class="grid grid-middle">
                <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
                  <svg height="100" width="100">
                    <circle cx="50" cy="50" r="30" fill="{{page.fill-3}}" />
                  </svg>
                </div>
                <p class="unit xs-1-2 s-1-2 m-1-2 l-1-2 push-0 inline micro">{{page.colour-value-3}}</p>
              </div>
            </div>

            <div class="unit xs-1 s-1-2 m-1-2 l-1-2 {{page.hidden}}">
              <div class="grid grid-middle">
                <div class="unit xs-1 s-1-2 m-1-2 l-1-2">
                  <svg height="100" width="100">
                    <circle cx="50" cy="50" r="30" fill="{{page.fill-4}}" />
                  </svg>
                </div>
                <p class="unit xs-1-2 s-1-2 m-1-2 l-1-2 push-0 inline micro">{{page.colour-value-4}}</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>

    {{content}}

    <div class="portfolio-nav-links text-center">
      <a class="micro inline" href="{{site.baseurl}}{{page.previous}}">Prev</a>
      <p class="milli inline">/</p>
      <a class="micro inline" href="{{site.baseurl}}{{page.next}}">Next</a>
    </div>

  </section>
</section>
